.inicio-sesion{
    background-color: red;
    margin-left: 12px;
    padding: 12px;
    border-radius: 20px;
    border-width: 0;
}

.inicio-sesion>a{
    text-decoration: none;
    font-weight: bold;
}

/*contenido de la página*/
main{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.cartel-principal{
    background-image: url("../images/index_img3.jpg");
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-position: top;
}
.cartel-principal:before{
    content: ""; /* Necesario para crear un elemento pseudo-elemento */
    position: absolute; /* Posiciona el degradado encima de la imagen */
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)); /* Definición del degradado */
}

.cartel-principal-texto{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartel-principal-texto>h1{
    margin-bottom: 30px;
}
.cartel-principal-texto>p{
    font-size: 18px;
}
.cartel-principal-texto>button{
    margin-top: 30px;
}
.separador{
    height: 3px;
    width: 100%;

}
.cartel-secundario{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
}
.cartel-secundario>h2{
    margin-bottom: 20px;
}
.cartel-secundario>p{
    font-size: 18px;
    margin-bottom: 30px;
}
.registro{
    background-color: red;
    margin-left: 12px;
    padding: 12px;
    width: 300px;
    border-radius: 20px;
    border-width: 0;
}

.registro>a{
    text-decoration: none;
    font-weight: bold;
}

.foto-secundaria{
    width: 400px;
    height: 200px;
}







