.inicio-sesion{
    background-color: red;
    margin-left: 12px;
    padding: 12px;
    border-radius: 20px;
    border-width: 0;
}

.inicio-sesion>a{
    text-decoration: none;
    font-weight: bold;
}

/*contenido de la página*/
main{
    background-color: black;
    display: flex;
    flex-direction: column;
}

.cartel-principal{
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.foto-principal{
    background-color: aqua;
}

.cartel-secundario{
    display: flex;
    flex-direction: column;
}

.pelicula-cartel{
    background-color: aqua;
    width: 300px;
    height: 300px;
}
.registro{
    background-color: red;
    margin-left: 12px;
    padding: 12px;
    width: 300px;
    border-radius: 20px;
    border-width: 0;
}

.registro>a{
    text-decoration: none;
    font-weight: bold;
}

.foto-secundaria{
    width: 300px;
    height: 150px;
}







