main{
    background: url("../images/index_img3.jpg");
    background-size: contain;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seccion-registrarse{
    background-color: black;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: 60px;
    border: 3px solid;
    color: red;
    border-radius: 20px;
} 

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} 

